* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: black;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  color: black;
}

.nav-link {
  color: white;
}

a {
  color: #00B7FF;
}

#goal-new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#add-reflection-form,
#add-accountabilityPartner-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#goal-new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

.reflecwidth {
  width: 400px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#goal-new-form *,
#add-reflection-form *,
#add-accountabilityPartner-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#add-per-to-partner {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.posts_index {
  /* text-size-adjust: 0.75; */
  font-size: larger;
  color: purple;
  font-size: 30px;
}

#posts_index {
  color: purple;
}